body{
    display: block;
}
table, th, td
{
    border: 1px solid black;
    min-width: 80%;
    margin: auto;
    
}

/* .cashTable{
    border: 1px solid black;
}

.notesTable{
border: 1px solid black;
} */